* {
  border: 1px solid red;
  box-sizing: border-box;
}

body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
}

.sectionOne {
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sectionOne div {
  background-color: #3498db;
  border: 2px solid #2980b9;
  margin: 5px;
  flex: 25%;
}

.sectionTwo  {
  display: flex;
  min-height: 20vh;
  flex-grow: 3;
  justify-content: space-around;
}

.sectionTwo div {
  background-color: #3498db;
  border: 2px solid #2980b9;
  margin: 5px;
  flex: 33%;
}

header {
  display: flex;
  flex-grow: 1;
  margin: 5px;
  text-align: center;
}

header div {
  background-color: #3498db;
  border: 2px solid #2980b9;
  margin: 5px;
  flex: 33%;
}

@media (min-width: 600px) {
  main {
    flex-direction: row;
  }

  .sectionOne {
    flex: 70%;
  }

  .sectionTwo {
    flex: 20%;
  }
}