* {
  border: 1px solid red;
  box-sizing: border-box;
}

body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
}
 
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  min-height: 70vh;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 5;
  align-items: center;
}

.sectionOne {
  display: flex;
  min-height: 20vh;
  width: 95%;
  flex-grow: 3;
  justify-content: space-around;
}

.sectionOne div {
  background-color: #3498db;
  border: 2px solid #2980b9;
  margin: 5px;
  flex: 100%;
}

.sectionTwo  {
  display: flex;
  min-height: 20vh;
  width: 95%;
  flex-grow: 1;
  justify-content: space-around;
}

.sectionTwo div {
  background-color: #3498db;
  border: 2px solid #2980b9;
  margin: 5px;
  flex: 33%;
}

header, footer {
  display: flex;
  flex-grow: 1;
  margin: 5px;
  text-align: center;
}

header div, footer div {
  background-color: #3498db;
  border: 2px solid #2980b9;
  margin: 5px;
  flex: 33%;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
  }

  main {
    flex: 65%;
    min-height: 75vh;
  }

  .sectionTwo {
    min-height: 25vh;
  }
}